<!DOCTYPE html>
<html>
  <head>
    <title>Página de ejemplo</title>
    <style>
      body {
        text-align: center;
      }

      h1 {
        margin-top: 50px;
      }

      .search-bar {
        margin-top: 20px;
        text-align: left;
      }

      .button-container {
        margin-top: 20px;
        text-align: left;
      }

      table {
        margin: 50px auto;
        border-collapse: collapse;
      }

      th,
      td {
        border: 1px solid black;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <h1>Cuentas presupuesto</h1>

    <div class="row">
      <div class="col-4">
        <div class="search-bar">
          <input type="text" placeholder="Buscar" />
        </div>
      </div>
      <div class="col-4 mt-3">
        Periodo
        <select>
          <option value="option1">1</option>
          <option value="option2">2</option>
          <option value="option3">3</option>
        </select>
      </div>
      <div class="col-4 button-container">
        <button>Cerrar periodo</button>
      </div>
    </div>

    <div class="button-container">
      <button>Generar reporte</button>
    </div>

    <table>
      <thead>
        <tr>
          <th>N°</th>
          <th>Estado</th>
          <th>Centro de gasto</th>
          <th>Saldo</th>
          <th>Fecha solicitud</th>
          <th>Fecha tramitada</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let saldo of data">
          <td>{{ saldo.id }}</td>
          <td>{{ saldo.estado }}</td>
          <td>{{ saldo.centroG }}</td>
          <td>{{ saldo.saldo }}</td>
          <td>{{ saldo.fechaSolicitud }}</td>
          <td>{{ saldo.fechaTramitada }}</td>
          <td>
            <button>Ver</button>
            <button *ngIf="saldo.estado != 'Tramitada'">Editar</button>
            <button *ngIf="saldo.estado != 'Tramitada'">Eliminar</button>
            <button *ngIf="saldo.estado != 'Tramitada'">Tramitar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
