<!DOCTYPE html>
<html>
<head>
  <title>Página de ejemplo</title>
  <style>
    body {
      text-align: center;
    }
    
    h1 {
      margin-top: 50px;
    }
    
    .search-bar {
      margin-top: 20px;
      text-align: left;
    }
    
    .button-container {
      margin-top: 20px;
      text-align: left;
    }
    
    table {
      margin: 50px auto;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid black;
      padding: 8px;
    }
  </style>
</head>
<body>
  <h1>Título centrado</h1>
  
  <div class="search-bar">
    <input type="text" placeholder="Buscar">
  </div>
  
  <div class="button-container">
    <form (submit)="uploadFile($event)">
      <input type="file"  (change)="onFileSelected($event)" accept=".pdf,.doc,.docx" />
      <button>Generar reporte</button>
    </form>
    
  </div>
  
  <table>
    <thead>
      <tr>
        <th>Encabezado 1</th>
        <th>Encabezado 2</th>
        <th>Encabezado 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dato 1</td>
        <td>Dato 2</td>
        <td>Dato 3</td>
      </tr>
      <tr>
        <td>Dato 4</td>
        <td>Dato 5</td>
        <td>Dato 6</td>
      </tr>
      <tr>
        <td>Dato 7</td>
        <td>Dato 8</td>
        <td>Dato 9</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
