<nav>
  <ul>
    <li><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/about">Acerca de</a></li>
    <li><a routerLink="/cierre">Cierre</a></li>
    <li><a routerLink="/reservas-cuentas">Reservas y cuentas</a></li>
    <li><a routerLink="/cuentas-presupuesto">Cuentas presupuesto</a></li>
    <li><a routerLink="/cuentas-contabilidad">Cuentas contabilidad</a></li>
    <li><a routerLink="/reserva">Reserva</a></li>
    <li><a routerLink="/compromiso">Compromisos</a></li>
    <li><a routerLink="/apropiacion">Apropiacion</a></li>
  </ul>
</nav>
