nav {
    background-color: #002366;
    color: white;
<<<<<<< HEAD
    
=======
>>>>>>> 32c30f5c1d7335a4bf447ab9c43dd0f703c7cd58
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    font-size: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

a:hover {
    background-color: #004B97;
}
