<!DOCTYPE html>
<html>
  <head>
    <title>Página de ejemplo</title>
    <style>
      body {
        text-align: center;
      }

      h1 {
        margin-top: 50px;
      }

      .search-bar {
        margin-top: 20px;
        text-align: left;
      }

      .button-container {
        margin-top: 20px;
        text-align: left;
      }

      table {
        margin: 50px auto;
        border-collapse: collapse;
      }

      th,
      td {
        border: 1px solid black;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <h1>Reservas presupuestales, cuentas por pagar y vigencias futuras</h1>

    <div class="search-bar">
      <input type="text" placeholder="Buscar" />
    </div>

    <div class="button-container">
      <button>Generar reporte</button>
    </div>

    <table>
      <thead>
        <tr>
          <th>N°</th>
          <th>Centro</th>
          <th>Estado</th>
          <th>Contra</th>
          <th>Fecha d</th>
          <th>Fecha ter</th>
          <th>Valor C</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let saldo of data">
          <td>{{ saldo.id }}</td>
          <td>{{ saldo.centro }}</td>
          <td>{{ saldo.estado }}</td>
          <td>{{ saldo.contra }}</td>
          <td>{{ saldo.fechaD }}</td>
          <td>{{ saldo.fechaT }}</td>
          <td>{{ saldo.valor }}</td>
          <td>
            <button>Ver</button>
            <button *ngIf="saldo.estado!='Aprovado'">Editar</button>
            <button *ngIf="saldo.estado!='Aprovado'">Eliminar</button>
            <button *ngIf="saldo.estado!='Aprovado'">Aprovar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
