<!DOCTYPE html>
<html>
<head>
  <title>Página de ejemplo</title>
  <style>
    body {
      text-align: center;
    }
    
    h1 {
      margin-top: 50px;
    }
    
    .search-bar {
      margin-top: 20px;
      text-align: left;
    }
    
    .button-container {
      margin-top: 20px;
      text-align: left;
    }
    
    table {
      margin: 50px auto;
      border-collapse: collapse;
    }
    
    th, td {
      border: 1px solid black;
      padding: 8px;
    }
  </style>
</head>
<body>
  <h1>Título centrado</h1>
  
  <div class="search-bar">
    <input type="text" placeholder="Buscar">
  </div>
  
  <div class="button-container">
    <form (submit)="uploadFile($event)">
      <input type="file"  (change)="onFileSelected($event)" accept=".pdf,.doc,.docx" />
      <button>Generar reporte</button>
    </form>
    
  </div>
  
  <table *ngIf="datos">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Contrato</th>
         <th>FechaInicio</th>
        <th>FechaTerminacion</th>
         <th>Compromiso</th>
        <th>ValorTotal</th>
         <th>ValorEjecutado</th>
        <th>Reserva</th>
         <th>Cuentas</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of datos">
        <td>{{ dato.Nombre }}</td>
        <td>{{ dato.Contrato }}</td>
        <td>{{ dato.FechaInicio }}</td>
        <td>{{ dato.FechaTerminacion }}</td>
        <td>{{ dato.Compromiso }}</td>
        <td>{{ dato.ValorTotal }}</td>
        <td>{{ dato.ValorEjecutado }}</td>
        <td>{{ dato.Reserva }}</td>
        <td>{{ dato.Cuentas }}</td>
        
      </tr>
    </tbody>
  </table>
</body>
</html>
