<div class="home-container">
    <section class="section section-1">
      <h1>Bienvenido al Sistema de Presupuesto de la Universidad De Caldas</h1>
      <p>¡Encuentra toda la información sobre el presupuesto universitario aquí!</p>
    </section>
  
    <section class="section section-2">
      <div class="content">
        <div class="image-container">
          <img src="assets/university-budget.jpg" alt="Imagen de presupuesto universitario">
        </div>
        
        <div class="text-container">
          <h2>Presupuesto Universitario</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod faucibus gravida. Duis vitae tristique lacus. Phasellus in bibendum leo. Etiam tempor risus id tortor ultricies consequat. Vivamus varius mi et nunc eleifend, non tristique mi pharetra. Integer vulputate eros nec massa facilisis, eget fringilla ipsum consequat. Sed id ligula at felis luctus rhoncus.</p>
          <p>Nullam tincidunt sapien enim, at viverra lacus vulputate in. Vestibulum faucibus mi id nulla tristique fermentum. Cras vitae lectus eros. Pellentesque viverra, dui id cursus tincidunt, turpis lorem efficitur sapien, sed tincidunt metus quam nec ligula. Morbi posuere leo in erat euismod congue.</p>
        </div>
      </div>
    </section>
  </div>
  
