<div class="container d-flex flex-column justify-content-center align-items-center">
  <h3>Subir archivo</h3>
  
  <form (submit)="uploadFile($event)">
    <input type="file" class="custom-file-input" (change)="onFileSelected($event)" accept=".pdf,.doc,.docx" />
    
    <button type="submit" class="btn btn-info">Subir</button>
  </form>

  <div class="file-list">
    <h3>Archivos cargados</h3>
    <ul>
      <li *ngFor="let file of fileList; let i = index">
        <span class="file-info">{{ file.name }}</span>
        <button class="btn btn-danger" (click)="removeFile(i)">Eliminar</button>
      </li>
    </ul>
  </div>
  <button (click)="uploadAll()" class="btn btn-success">Enviar </button>
</div>
  
  