<div class="container">
    <h3>Subir archivo</h3>
    <form (submit)="uploadFile($event)">
      <input type="file" (change)="onFileSelected($event)" accept=".pdf,.doc,.docx" />
      <button type="submit">Subir</button>
    </form>
  
    <div class="file-list">
      <h3>Archivos cargados</h3>
      <ul>
        <li *ngFor="let file of fileList; let i = index">
          <span class="file-info">{{ file.name }} </span>
          <button class="btn-remove" (click)="removeFile(i)">Eliminar</button>
        </li>
      </ul>
    </div>
    <button (click)="uploadAll()">Enviar a revision</button>
  </div>

  
  
  
  
  
  
  